body {
    font-family: 'Yeon Sung', cursive !important;
}

.input-box {
     position: relative;
}

.extension {
     position: absolute;
     display: block;
     right: 23px;
     top: 6px;
     z-index: 9;
}
