body {
    /*font-family: 'Yeon Sung', cursive !important;*/
}

textarea {
    border: 0 !important;
    resize: none !important;
}

.form-control:focus {
    outline: none !important;
}

textarea:focus {
    outline: none !important;
}

.textarea-col {
    padding: 0 0 10px !important;
    margin: 15px;
}

label {
    margin: 12px 12px 5px 12px !important;
    font-size: 25px;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.vr {
    min-height: 1.3em;
}

.solidity-button{
    margin: 0px;
}

button {
    padding: 0 12px !important;
}

.btn-link {
    color: black !important;
    text-decoration: none !important;
}