<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form-Test</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">
</head>
<body>

<div class="row">
  <div class="col-md-6">
    <form>
      <textarea class="form-control" id="raw-text" style="height:800px"></textarea>
    </form>
  </div>
  <div class="col-md-6">
    <form class="form-inline" id="form-append-target">

    </form>
    <button class="form-control btn btn-success" style="margin-top: 20px">폼 입력완료</button>
  </div>
</div>



<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/form-test.js"></script>
</body>
</html>