<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/project.css">
  <link rel="stylesheet" href="/css/jquery-linedtextarea.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">

</head>
<body>
<div>
  <div style="border:1px; float:left; width:37%; text-align: left;padding:10px;">
    <a style="color:black !important;" class="text-decoration-none" href="./"><h1>소나무 언어 번역프로그램</h1></a>
    <div class="row">
      <h4>Solidity언어를 소나무언어로 쉽게 볼 수 있으며 편리한 코드수정이 가능합니다.</h4>
      <p>개발자 : 박정필, 현상혁, 정지은</p>
    </div>
  </div>
  <div style="border:1px; float:left;width:16%;text-align: left;padding:10px;">
    <h3>코드 불러오기</h3>
    <div class="row">
      <input id="openCode" type="file" accept=".sol" class="form-control"/>
    </div>
  </div>
  <div style="border:1px; float:left;width:31%;text-align: left;padding:10px;">
    <h3>코드 저장하기</h3>
    <div class="row">
      <div class="col input-box">
        <input id="fileName" placeholder="다운 받을 파일 이름 지정" class="form-control"/>
        <span class="extension">.sol</span>
      </div>
      <div class="col">
        <button id="saveCode" class="form-control border-success">파일 다운로드</button>
      </div>
    </div>
  </div>
  <div style="border:1px; float:left;width:16%;text-align: left;padding:10px;">
    <h3>폼 불러오기</h3>
    <div class="row">
      <a href="./form-popup" class="text-decoration-none"
         onClick="window.open(this.href, '', 'width=400, height=430'); return false;">
        <button class="form-control border-success" type="button" id="select-form">폼 선택하기</button>
      </a>
    </div>
  </div>
  <hr class="bg-danger border-2 border-top border-secondary w-100">

<!--    <div class="row">-->
<!--      <div class="col-md-3">-->
<!--        <h3>번역 타입 선택</h3>-->
<!--        <div class="row">-->
<!--          <div class="col w-25">-->
<!--            <div class="form-check form-check-inline">-->
<!--              <input class="form-check-input" type="radio" name="typeOfCode" id="inlineRadio1"-->
<!--                     value="sonamu"-->
<!--                     th:checked="${sourceType eq 'sonamu'}">-->
<!--              <label class="form-check-label" for="inlineRadio1"> 소나무 </label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--              <input class="form-check-input" type="radio" name="typeOfCode" id="inlineRadio2"-->
<!--                     value="solidity"-->
<!--                     th:checked="${sourceType eq 'solidity'}">-->
<!--              <label class="form-check-label" for="inlineRadio2"> solidity </label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-5">-->
<!--        <div class="row">-->
<!--          <h3>맞춤법 검사 & 번역</h3>-->
<!--          <div class="col-md-4">-->
<!--            <button class="form-control border-success" type="button" id="spellCheck">맞춤법 검사-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="col-md-8">-->
<!--            <button class="form-control border-success" type="submit" id="translate">번역하기</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


    <div class="row">
      <div class="col-lg-6" style="border:1px;width:49%;margin:0 0 0 10px;">
        <form id="translateFormSonamu" th:action="@{/translate}" method="post">
        <div class="Solidity-row-1" style="border:1px;height:4%;">
          <div class="col" style="float:left;">
            <h3>Solidity</h3>
          </div>
          <div class="col" style="float:right;">
            <input type="hidden" name="typeOfCode" value="solidity"/>
            <button class="form-control border-success" type="submit" id="translate">View</button>
          </div>
        </div>
        <div class="Solidity-row-2" style="border:1px;height:91%;">
          <p><textarea class="lined" type="text" name="code"
                       placeholder="번역할 코드를 입력하세요. "
                       th:utext="${source}" id="inputText"></textarea></p>
        </div>
      </form>
      </div>
      <div class="col-lg-6 " style="border:1px; float:left;width:49%">
        <form id="translateFormSolidity" th:action="@{/translate}" method="post">
          <div>
        <div class="Solidity-row-1" style="border:1px;height:4%;">
          <div class="col" style="float:left;">
            <h3>Sonamu</h3>
          </div>
          <div class="col" style="float:right;">
            <input type="hidden" name="typeOfCode" value="sonamu"/>
            <button class="form-control border-success" type="submit" id="apply">Solidity에 적용</button>
          </div>
        </div>
        <div class="Solidity-row-2" style="border:1px;height:91%;">
          <p><textarea class="lined" type="text" name="code" placeholder="소나무언어로 확인하기" id="outputText"
                       th:text="${target}"></textarea></p>
        </div>
          </div>
        </form>
      </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/jquery-linedtextarea.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>