<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>소나무 - Sonamu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/sonamu_logo.png" alt="소나무 logo" width="160" height="46">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">번역하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">블록체인 업로드</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    <div class="mx-auto">
        <div class="row">
            <!-- solidity -->
            <div class="col-md border border-2 rounded textarea-col">
                <form id="translateFormSonamu" th:action="@{/translateSonamu}" method="post">
                    <input type="hidden" name="typeOfCode" value="solidity"/>
                    <label for="solidity" class="form-label">Solidity</label>
                    <hr>
                    <textarea class="form-control" type="text" name="code"
                              placeholder="번역할 코드를 입력하세요." rows="15"
                              th:text="${solidity}" id="solidity"></textarea>
                    <hr>
                    <div class="solidity-button row">
                        <button id="loadCode" class="col btn btn-link">불러오기</button>
                        <button id="saveCode" class="col btn btn-link">저장하기</button>
                        <button id="toForm" class="col btn btn-link">폼으로 보기</button>
                    </div>
                    <hr>
                    <div class="solidity-button">
                        <button id="translate" type="submit" class="col-12 btn btn-link">번역</button>
                    </div>
                </form>
            </div>
            <!-- sonamu -->
            <div class="col-md border border-2 rounded textarea-col">
                <label for="sonamu" class="form-label">Sonamu</label>
                <hr>
                <textarea class="form-control" type="text" name="code"
                          placeholder="'번역' 버튼을 클릭하면 번역 결과가 표시됩니다." rows="15"
                          th:text="${sonamu}" id="sonamu"></textarea>
            </div>
        </div>
    </div>

</main>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</body>
</html>